{% extends 'base.html' %}
{% block head_title %}{{ block.super }}{% endblock head_title%}

{% block content %}

  <main class="g-min-height-60vh g-flex-centered g-pa-40">
    <div class="text-center g-flex-centered-item g-position-rel g-pb-15">
      <div class="g-font-size-180 g-font-size-240--sm g-line-height-1 g-font-weight-600er g-color-gray-light-v4">404
      </div>
      <div class="g-absolute-centered">
        <h1 class="g-color-black g-mt-minus-8 mb-0">Ops, 404</h1>
        <hr class="g-brd-gray-light-v3 g-my-15">
        </p>
      </div>
    </div>
  </main>

{% endblock content %}