<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>{% block head_title %}Test OOW{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1;" charset="UTF-8" />
    <meta name="robots" content="follow">

    <meta name="description" content="Test">
    <meta name="author" content="lfniederauer">
    <meta name="copyright" content="2021">

    {% block pagecss %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock pagecss %}
</head>
<body>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    {% block endjs %} {% endblock endjs %}
</body>
</html>
