{% extends 'base.html' %}
{% block head_title %}Oowlish | {{ block.super }}{% endblock head_title%}

{% block content %}
<main>
    <section>
        <div class="container g-pt-20 g-pb-20">
            <div class="g-bg-secondary row justify-content-center g-pt-40 g-pb-40 g-mb-60">
                <div class="col-lg-7">
                    <div>
                        <h2 class="g-color-black text-uppercase mb-2">OOWLISH DEMO</h2>
                        <br>
                        <p>
                            <a href="{% url 'schema-json' format='.json' %}"
                               class="g-color-white g-color-primary--hover g-text-underline--none--hover">
                                schema-json
                            </a>
                        </p>
                        <p>
                            <a href="{% url 'schema-swagger-ui' %}"
                               class="g-color-white g-color-primary--hover g-text-underline--none--hover">
                                schema-swagger-ui
                            </a>
                        </p>
                        <p>
                            <a href="{% url 'schema-redoc' %}"
                               class="g-color-white g-color-primary--hover g-text-underline--none--hover">
                                schema-redoc
                            </a>
                        </p>
                        <p>
                            <a href="{% url 'graphql' %}"
                               class="g-color-white g-color-primary--hover g-text-underline--none--hover">
                                GraphQL Customer List
                            </a>
                        </p>
                        <p>
                            <a href="{% url 'customers:list' %}"
                               class="g-color-white g-color-primary--hover g-text-underline--none--hover">
                                Json Raw Customer List
                            </a>
                        </p>
                        <p>
                            <a href="{% url 'customers:detail' id=3 %}"
                               class="g-color-white g-color-primary--hover g-text-underline--none--hover">
                                Json Customer Detail ID=3
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}